*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(246, 248, 247);
    overflow-x: hidden;
    font-family: sans-serif;
}

.h1{
    text-align: center;
    font-size: 45px;
}
.section-cards{
    width: 100%;
    height: auto;
    background-color: rgb(248, 248, 255);
}
.cards-cards1{
    display:flex ;
    align-items:center ;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    width: 100%;
    height:auto ;
    background-color:rgb(204, 195, 200) ;
    gap: 20px;
    padding: 50px;;
}
.cards1{
    width: 22.5%;
    height:auto;
    background-color: rgb(29, 160, 138);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.cards1 img{
    width: 50px;
    
}
.cards1 p{
    padding: 10px 0; 
    font-size: 15px;
    text-align: center;
}
.cards1 img:hover{
   transform: translate(0px, -10px);
   transition-duration: 0.4s;
    
}
h1{
    font-size:22px;
}
.cards1 button{
    padding: 10px 30px;
    font-size:15px ;
    border-radius: 10px;
background-color: rgba(8, 155, 148, 0.164);
    border: 1px solid white;
    color: black;
    margin: 20px 0;
}
.cards1 button:hover{
    background-color: chocolate;
}

.card-section {
    width: 100%;
    height: auto;
    padding: 80px;
    background-color: rgb(247, 255, 252);

}

.cards-cards {
    width: 100%;
    height: auto;
    background-color: rgba(200, 231, 151, 0.671);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    width: 45%;
    height: auto;
    background-color: rgb(245, 252, 253);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid white;

}

.cards-img img {
    width: 100%;
    border-radius: 10px;

}
.cards-cards .cards-btn {
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid rgb(14, 13, 13);
    background-color:white;
    font-size: 15px;
    margin: 10px;
}
.cards-cards .cards-btn:hover{
    background-color: rgb(6, 6, 58);
    color: white;
}
@media (max-width:360px){
    body{
        background-color: brown;
    }
    .cards{
        width: 100%;

    }
    h1{
        font-size: 20px;
    }
}